.sidebarRow {
  display: flex;
  align-items: center;
  padding: 7px 15px;
}
.sidebarRow__title {
  flex: 1;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 500;
}
.sidebarRow__icon {
  margin-left: 5px;
  color: #606060 !important;
}

.sidebarRow:hover {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}

.sidebarRow:hover > .sidebarRow__icon {
  color: red !important;
}

.sidebarRow_selected {
  background-color: rgb(230, 230, 230);
  font-weight: bolder;
}

.sidebarRow_selected > .sidebarRow__icon {
  color: red !important;
}

.sidebarRow_selected > .sidebarRow__title {
  font-weight: bold;
}
